<form #loginForm = "ngForm" (ngSubmit)="login()" class="form-signin">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 fw-normal">Sisteme Giriş</h1>
    </div>
    
    <div class="form-label-group">
        <input type="text" [(ngModel)]= "model.userName" name="userName" class="form-control" placeholder="Kullanıcı Adı">
    </div>

    <div class="form-label-group">
        <input type="password" [(ngModel)]= "model.password" name="password" class="form-control" placeholder="Şifre">
    </div>

    <button class="w-10 bt btn-lg btn-primary" type="submit">Giriş</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021 - 2022</p>


</form>