
  

<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" routerLink="/products">Drovy Game Shop</a>
    <form class="d-flex">
     <button class="btn btn-outline-success text-light " routerLink="/product-add" >Oyun Ekle</button>
      <button class="btn btn-outline-success text-light" routerLink="/login" >Giriş</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
      <main role="main">
        <router-outlet></router-outlet>
      </main>
    </div>

